# Deep Learning & Face Recognition
tensorflow==2.12.0
keras==2.12.0
deepface==0.0.79
retinaface==1.1.1

# Image & Video Processing
opencv-python-headless==4.8.1.78
mtcnn==0.1.1
Pillow==9.5.0

# Data & Utilities
numpy==1.26.0
tqdm==4.66.1
matplotlib==3.8.1

# Streamlit Logging / UI
rich==14.1.0
